/*--IMPORT--*/

    /*--FONT--*/
        @import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700');

        @import url('https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,700');

    /*--ICON--*/
        @import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

/*--END_IMPORT--*/


/*--CSS-RESET--*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    vertical-align: baseline;
    box-sizing: border-box;
    background: transparent;
}

/*--END_CSS-RESET--*/


/*--FIX--*/

.letterspacing-fix {
    letter-spacing: 0;
}

.clearfix::after {
    content: "";
    display: none;
    clear: both;
}

/*--END_FIX--*/


/*--SELECTION--*/

::selection {
    background-color: #141414;
    color: #fff;
}

::-moz-selection {
    background-color: #141414;
    color: #fff;
}

/*--END_SELECTION--*/


/*--ANCHOR-DECORATION--*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/*--END_ANCHOR-DECORATION--*/

body {
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    color: #141414;
    background-color: #F2F1EF;
}


/*--H1-HEADING--*/

.h1-heading_style1 {
  font-size: 5em;
}

/*--END_H1-HEADING--*/



.section-head {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  background: url('../media/img/bib.jpg') repeat fixed;
  background-position: 50% 50%;
  background-size: cover;
  transform: translate3d(0,0,0);
  object-fit: cover;
}

.section-head-coloroverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}

.section-head_title {
  position: relative;
  width: auto;
  height: auto;
  transform: translate3d(0, -50%, 0);
  top: 50%;

}

.section-groups {
  position: relative;
  height: 100vh;
  width: 100%;
}

.section-groups_group {
  width: 100%;
  height: calc(100vh / 3);
  display: table;
  color: #fff;
  text-align: center;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.section-groups_group h1 {
  display: table-cell;
  vertical-align: middle;
}

.section-groups_group-coloroverlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.section-groups_group-coloroverlay.color_white {
  background-color: rgba(0, 111, 159, 0.85);
}

.section-groups_group-coloroverlay.color_black {
  background-color: rgba(226, 0, 122, 0.7);
}

.section-groups_group-coloroverlay.color_yellow {
  background-color: rgba(0, 111, 159, 0.85);
}

.section-groups_group:nth-child(1) {
  background: url('../media/img/web.jpg') repeat fixed;
  background-position: 50% 50%;
  background-size: cover;
  transform: translate3d(0,0,0);
  object-fit: cover;
}

.section-groups_group:nth-child(2) {
  background: url('../media/img/photo.jpg') repeat fixed;
  background-position: 20% 20%;
  background-size: cover;
  transform: translate3d(0,0,0);
  object-fit: cover;
}

.section-groups_group:nth-child(3) {
  background: url('../media/img/program.jpg') repeat fixed;
  background-position: 50% 50%;
  background-size: cover;
  transform: translate3d(0,0,0);
  object-fit: cover;
}
